/* 링크로 폰트를 정할 때, 해당 url을 import. */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@font-face{
    src:url('BMJUA.ttf');
    font-family: 'JUA';
}

/* Asterisk(* ; aster)는 all을 의미 즉, 전체 웹화면에 이 스타일을 적용한다는 의미 */
* {
    /* box-sizing : 박스의 크기를 어떤 것을 기준으로 계산할 지를 정하는 속성.
       border-box : 테두리를 기준으로 크기를 정함. */
    box-sizing: border-box;
    /* margin: 0px; */
    font-family: 'JUA';
}

/* <body> 태그 */
body {
    margin:0;
	text-align : center;
    /* font-family를 통해 원하는 부분에 텍스트를 적용한다. */
    font-family: 'Nanum Gothic', sans-serif; 
}

a.navbar-brand {
    font-family: 'JUA';
    letter-spacing:3px;
    color: #cde9ff;
}
.navbar-light .navbar-brand {
    color: #6ca8d8;
}
.navbar-nav .nav-link {
    font-size: 20px;
    margin-right: 5px;
    font-weight: bolder;
}
.dropdown {
    display: inline;
    float: left;
}
ul.nav.nav-pills{
    margin-left: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(0, 0, 0);
    background-color: rgb(205, 233, 255);
    font-weight: bolder;
}
a {
    color: rgb(0, 0, 0);
    /* text-decoration: none;
    background-color: transparent; */
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    font-weight: bolder;
}
.card-deck{
    margin-top: 20px;
}
.card border-success mb-3{
    color: black;
}
.card-text {
    color: black;
}
.border-success {
    color: black;
    border-color: #197fb9!important;
}
.card-title{
    color: black;
}
.form-check-label{
    color: black;
}

.btn-primary {
    border: 0px;
    border-color: rgba(255, 255, 255, 0);
}
.card-img-top{
	width : 14rem;
	height : 4rem;
}